@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;wght@500;wght@600;700&display=swap');
*{
  margin: 0px 0px;
  padding: 0px 0px;
}
.container{
  display: flex;
  width: 1920px;
  max-height: 1080px;
  overflow: hidden;

}

.leftcontainer{
  display: flex;
  flex-direction: column;
  width: 960px;
  padding-left: 140px;
  max-height: 1080px;
  overflow: hidden;
}


.header {
  position: absolute;
  top: 70px;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #F7D832;
}
.between{
  position: absolute;
  top: 220px;
  width: 100%;
}

.login {
font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 50px;
}
.content{
  width: 100%;
}
.email {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 5px;
color:#A5A5A5;
}
.passwordd{
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
text-align: left;
padding-bottom: 5px;
color:#A5A5A5;
}

.pasword1{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  gap: 20px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.pasword1 p{
  font-size: 14;

}
.pasword1 p:hover{
  color: blue;
}
.inputdiv1{
  width: 400px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  border: none;
  padding: 0px 10px;
  border-radius: 5px;
  outline: none;
  text-align: left;
  background-color: #F0F0F0;
  margin-bottom: 15px;

}
.inputdiv2{
  width: 400px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  border: none;
  padding: 0px 10px;
  border-radius: 5px;
  outline: none;
  text-align: left;
  background-color: #F0F0F0;

}

.signup{
  display: flex;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.signup spam{
  font-weight: 700;

}
.signup spam:hover{
  color: blue;
}

.rightcontainer{
  overflow: hidden;
  width: 960px;
  max-height: 1080px;
  overflow: hidden;
}

.footer{
  position: absolute;
  top: 993px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  gap: 50px;
  font-style: normal;
  font-size: 18px;

}

.data{
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  position: absolute;
  left: 1100px;
  top: 263px;
  width: 680px;
height: 553px;
text-align: right;
}
.data h1{
  font-weight: bold;
  font-size: 36px;
  text-align: right;
  margin-bottom: 65px;
}
.data p{
  width: 680px;
  height: 44px;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  line-height: 21.94px;
}
.image{
  width: 520px;
  position: relative;
  left: 20px;

}

.rightcircle{
  height: 1124px;
  width: 1124px;
  background-color: #FFE999;
  border-radius: 50%;
  position: relative;
  z-index: -1;
  top: -154px;
}
.leftcircle-top{
  width: 510px;
  height: 510px;
  border-radius: 50%;
  background-color: #F8F8F8;
  position: absolute;
  top: -260px;
  left: -260px;
  z-index: -1;
}

.leftcircle-bottom{
  width: 510px;
  height: 255px;
  background-color: #F8F8F8;
  border-top-left-radius: 255px;
  border-top-right-radius: 255px;
  position: absolute;
  top: 825px;
  left: 365px;
  z-index: -1;
  overflow: hidden;
}